<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <title>Camera</title>
</head>
<style type="text/css">
  .read-content {
    border: 2px solid black;
    height: 680px;
    width: 530px;
    padding : 20px
}

</style>
<body>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
  <a class="navbar-brand" href="/" style="font-size:40px; padding-left: 10%">Audiofy</a>
  </nav>
  <div class="container" style="margin-top:100px; width:80%">
    <div class="row">
  <div id="myEmotion" style="margin-top: -12px;margin-bottom: 0px;padding: 0px;font-size:100px">
    &#128528;
  </div>

<audio id="myAudioFun">
      {% load static %}
    <source src="{% static "audiofy/fun.mp3" %}" type="audio/mpeg">
    Your browser does not support the audio element.
    </audio>

    <audio id="myAudioHappy">
      {% load static %}
    <source src="{% static "audiofy/happy.mp3" %}" type="audio/mpeg">
    Your browser does not support the audio element.
    </audio>

    <audio id="myAudioSad">
      {% load static %}
    <source src="{% static "audiofy/sad.mp3" %}" type="audio/mpeg">
    Your browser does not support the audio element.
    </audio>

    <audio id="myAudioWorry">
      {% load static %}
    <source src="{% static "audiofy/worry.mp3" %}" type="audio/mpeg">
    Your browser does not support the audio element.
    </audio>

    <audio id="myAudioHate">
      {% load static %}
    <source src="{% static "audiofy/hate.mp3" %}" type="audio/mpeg">
    Your browser does not support the audio element.
    </audio>

    <audio id="myAudioRelief">
      {% load static %}
    <source src="{% static "audiofy/relief.mp3" %}" type="audio/mpeg">
    Your browser does not support the audio element.
    </audio>

    <audio id="myAudioNeutral">
      {% load static %}
    <source src="{% static "audiofy/neutral.mp3" %}" type="audio/mpeg">
    Your browser does not support the audio element.
    </audio>

    </div>
    <div class="row">
      <div class="col">
        <iframe src="{{ camurl }}" width="383" height="680" frameBorder="0" scrolling="no"></iframe>
      </div>
      <div class="col">
        <pre id="myTextFileContent" class="read-content"></pre>
      </div>
    </div>
  </div>
  <div class="container-fluid" style="margin-top:100px; width:80%">
</body>
<script type="text/javascript">
let oldEmotion='empty'
let x=document.getElementById("myAudioNeutral");

function playSong(emotion){
  console.log(emotion)
  if(emotion!=oldEmotion) {
    x.pause();
    x.currentTime = 0;
  switch (emotion) {
    case 'joy':
    x = document.getElementById("myAudioHappy");
    x.play();
      break;
      case 'surprise':
      x = document.getElementById("myAudioFun");
      x.play();
        break;
        case 'sadness':
        x = document.getElementById("myAudioSad");
        x.play();
          break;
          case 'fear':
          x = document.getElementById("myAudioWorry");
          x.play();
            break;
            case 'hate':
            x = document.getElementById("myAudioHate");
            x.play();
              break;
              case 'love':
              x = document.getElementById("myAudioRelief");
              x.play();
                break;
    default:
    x = document.getElementById("myAudioNeutral");
    x.play();
      break;
  }
  oldEmotion=emotion
}
}

const contentPara = document.getElementById('myTextFileContent');

$.ajaxSetup({cache: false});

setInterval(read, 3000);

function read(){
    jQuery.get('../static/audiofy/output.txt',function(data){
    contentPara.innerHTML=data;
    console.log(data);
    });
}


const contentEmotion = document.getElementById('myEmotion');

$.ajaxSetup({cache: false});

setInterval(readEmotion, 2000);

function readEmotion(){
    jQuery.get('../static/audiofy/emotion.txt',function(emotion){
    console.log(emotion);
    emotion=emotion.replace(/[\n\t\r]/g,"")
      console.log(emotion)
      switch (emotion) {
        case 'joy':
          tag = '&#128522;'
          break;
        case 'sadness':
          tag = '&#128532;'
          break;
        case 'anger':
          tag = '&#128545;'
          break;
        case 'love':
          tag = '&#128525;'
          break;
        case 'surprise':
            tag = '&#128558;'
          break;
        case 'fear':
            tag = '&#128561;'
          break;
        default:
            tag = '&#128528;'
    }
    playSong(emotion)
    contentEmotion.innerHTML=tag;
  });
}
</script>
</html>
