<!DOCTYPE html>
<html>
<head>
  <title>Audiofy</title>
  <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet"> 

    <link rel="stylesheet" type="text/css" href="styles/main.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
</head>
<body>
  <div class="navigation-bar">
    <nav>
      <div class="nav-wrapper">
        <a href="index.html" class="brand-logo">Audiofy</a>
      </div>
    </nav>
  </div>
  
  <div class="container-fluid"> 
    <div class="row">  
      <div class="col-md-6">
        <img class="index-image" src="utils/music.svg" alt="Lights" style="width:80%">
      </div>
      <div class="col-md-6 index-content">
          <h1 class="index-title">AUDIOFY</h1>
          <h2 class="index-subtitle">Love the way you read</h2>
        <div class="action-buttons">
          <a href="home.html"><button class="btn btn-primary action-button">Go Live</button></a>
          
          <button class="btn btn-primary action-button" data-toggle="modal" data-target="#myModal" id="mybtn">Upload Ebook</button>       
        </div>
      </div>      
    </div>
  </div>
  <div class="modal fade" id="myModal" role="dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Please upload the pdf you would like to Audiofy</h4>
        </div>
        <div class="modal-body">
          <input type="file" id="myfile" name="myfile" accept=".pdf">
          <!-- <p>Some text in the modal.</p> -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Submit</button>
        </div>
      </div>
  </div>
</body>
</html>