<!DOCTYPE html>
<html>
<head>
  <title>Audiofy</title>
  <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  <nav>
    <div class="nav-wrapper" style="background-color: white">
      <a href="#" class="brand-logo" style="margin-left: 40px; color: #7AA8FB">Audiofy</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html" style="color: #7AA8FB">About Audiofy</a></li>
        <li><a href="badges.html" style="color: #7AA8FB">Meet the Team</a></li>
      </ul>
    </div>
  </nav>
  <br><br>
  
  <div class="container">
  
  <div class="row">
    <div class="col-md-6">
      <img src="bird.png" alt="Lights" style="width:100%">
    </div>
    
    <div class="col-md-6">
      <center><h1 style="font-weight: bold; color: #7AA8FB; font-size: 60px; margin-top: 20%">AUDIOFY</h1>
        <h2 style="color: #7AA8FB;">Love the way you read</h2>
      </center>
        <div class="md-form" style="margin-top: 15%">
          <input type="text" id="form1" class="form-control">
          <label for="form1">Example label</label>
        </div>
      </div>
    
</div>

</body>
</html>