<!DOCTYPE html>
<html>
<head>
  <title>Audiofy</title>
  <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <link rel="stylesheet" type="text/css" href="styles/main.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="navigation-bar">
    <nav>
      <div class="nav-wrapper" style="background-color: white">
        <a href="index.html" class="brand-logo" style="margin-left: 40px; color: #6C63FF">Audiofy</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="sass.html" style="color: #6C63FF">About Audiofy</a></li>
          <li><a href="badges.html" style="color: #6C63FF">Meet the Team</a></li>
        </ul>
      </div>
    </nav>
  </div>
  
  <div class="container-fluid"> 
    <div class="row">  
      <div class="col-md-6">
        <center>
          <h1 style="font-weight: bold; color: #6C63FF; font-size: 60px; margin-top: 20%">AUDIOFY</h1>
          <h2 style="color: #6C63FF;">Love the way you read</h2>
        </center>
        <div class="action-buttons">
          <button class="btn btn-primary action-button">Go Live</button>
          <button class="btn btn-primary action-button">Upload Ebook</button>
        </div>
      </div>
      <div class="col-md-6">
        <img src="utils/music.svg" alt="Lights" style="width:100%">
      </div> 
    </div>
  </div>

</body>
</html>